# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-ldjyd.southamerica-east1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=6ARGYT7HFHQQ5XSO
sasl.password=8hO3ZVpbvBmsUHoc1tYqHPLUyjghXCSdLvy4UfYTkmOux6+ur5iAspJFhD2C5TMB

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000